# Virtual environments
.venv/
venv/
env/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Editor and IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Database files
*.db
*.sqlite
*.sqlite3

# Log files
*.log

# Environment variables
.env
.flaskenv

# Distribution archives
dist/
build/
*.egg-info/

# Jupyter Notebook files
.ipynb_checkpoints/

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db